//font
@mixin font-type($font-family, $font-size, $line-height, $letter-spacing, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    // font-style: $font-style;
    font-weight: $font-weight;
  }
// triangle
@mixin triangle($direction, $sizeH, $sizeV, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);
      
  @if $direction == top {
    border-width: 0 $sizeV $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottom{
    border-width: $sizeV $sizeH 0 $sizeV;
    border-color: $color transparent transparent transparent;
  }
  @if $direction == left{
    border-width: $sizeV $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == right{
    border-width: $sizeV 0 $sizeV $sizeH;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topright{
    border-width: 0 $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == bottomright{
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottomleft{
    border-width: $sizeH 0 0 $sizeV;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topleft{
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}

//square
@mixin square($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
}
//rectangle
@mixin rectangle($sizeW, $sizeH, $color) {
  width: $sizeW;
  height: $sizeH;
  background-color: $color;
}

