$main-background-color:#e7e7e7;
/* font colors */
$main-text-color:#464646;
$main-links-color:#878787;

$button-border-color:#d0d0d0;
$button-fill-color:#676767;
$button-fill-text-color:#ffff;

$dropdown-background:#fff;

$sidebar-dot-color:#969696;
$sidebar-line-color:#f8f8f8;

$lable-rectangle-color:#2d2d2d;
$lable-rectangle-text-color: #fff;

$sales-banner-caption-color: #ffb61b;

$gray-dark-color:#444444;
$gray-light-color:#7d7d7d;


$text-link-hover-color:#ef7c00;
$btn-hover-text-color:#000;
$menu-numbers-color:#ffb517;