.header__nav{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 0;
    
}
.header__wrap-filters-search{
    display: flex;
}
.header-menu{
    display: flex;
            
    &__item{
        padding: 20px 20px 20px 0px;
        
    }
    
    &__link{
        text-transform: uppercase;
        position: relative;
        &:focus:after{
            content: '';
            @include triangle(top, 12px, 12px, $dropdown-background);
            position: absolute;
            bottom: -20px;
            left:10%;
            transition: all 200ms ease;
            z-index: 20;
        }
    }
    &__span{
        display: inline-block;
        vertical-align: bottom;
        color:$menu-numbers-color;
    }
        
    &__dropdown-wrap{
        position: absolute;
        left: 0;
        top: 85px;
        width: 100%;
        padding: 30px 30px 50px 30px;
        background:$dropdown-background;
        box-shadow:7px 48px 97px 31px rgba(231,231,231,0.92);
        transition: all 200ms ease;
        z-index: 10;
        flex-wrap: nowrap;
        display: flex;
        visibility:hidden;
        }

    &__banner{
        flex:1;
    }

    .dropdown-menu{
        flex:3;
        display: flex;
        
        &__submenu-item{
            padding-right:25px;
        }
        &__submenu-list-item{
            padding-bottom: 8px;
        }
        
        &__submenu-list-item:first-child{
            font-weight: bold;
            margin-bottom: 22px;
        }
    }
}

.header{
    
    &__colapse-menu{
        display: flex;
        
    }
    &__icon-filter{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        display: none;
    }
    &__advanced-filters{
        display: inline-block;
        margin-left: 10px;
        height:auto;
    }
    &__search-form {
        margin-left: 10px;
        display:flex;
        justify-content:flex-end;
        
    }
    &__search-form-input{
        text-transform: uppercase;
        padding: 6px 15px;
        border:1px solid $button-border-color;
        outline-offset: 0px!important;
        position: relative;
        &:focus{
            outline-color: $text-link-hover-color;
        }
    }
    &__search-form-submit{
        position: absolute;
        align-self: center;
        background: none;
        border:none;
        cursor: pointer;
    }
}

.cart{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding:10px;
    z-index: 20;
    &__icon{
        position: relative;
        display: flex;
        justify-content: center
    }
    &__number{
        position: absolute;
        align-self: flex-end;
        border-radius: 50%;
        background-color: #000;
        color:$menu-numbers-color;
        font-size: 10px;
        padding: 0 7px;
        line-height: 20px;
        bottom:-8px;
        transition: 0.3s ease-in;
        &:hover{
            color:$btn-hover-text-color;
            background-color:$text-link-hover-color;
        }
    }
}







