footer.footer
    .container
        .row.align-items-center
            .col-lg-5.col-md-12
                .footer__logo-info-wrap
                    a( class='footer__logo icon logo-small', href='index.html', rel='nofollow' )
                
                    .footer__info
                        h5.footer__info-title Awesome shop
                        p.footer__info-text 
                            |There are many variations of passages of Lorem Ipsum
                            br 
                            |available, but the majority have suffered alteration in
                            br 
                            |some form, by injected humour
            .col-lg-2.col-md-12
                // Top button
                a(href="#header").footer__top-button.btn--scrollTop
                    i.btn--scrollTop__icon.icon.up-arrow
                    p.btn--scrollTop__text Top
            .col-lg-5.col-md-12
                // Social icons
                .footer__social-icons.social-icons
                    ul.social-icons__list
                        li.social-icons__item
                            a.social-icons__link
                                i.icon.twitter#twitter
                        li.social-icons__item
                            a.social-icons__link
                                i.icon.facebook
                        li.social-icons__item
                            a.social-icons__link
                                i.icon.google-plus
                        li.social-icons__item
                            a.social-icons__link
                                i.icon.dribble
                // Copyright block
                .footer__copyright-block
                    p.footer__copyright-text Awesome shop | multipurpose shopping html template
                    p.footer__copyright-copyright Copyright:&copy; 0effortthemes.com	