footer.footer
    .row
        .col-lg-5
            a( class='footer__logo icon logo-small', id='...', href='index.html', rel='nofollow' )
        
            .footer__info
                h5.footer__info-title Awesome shop
                p.footer__info-text 
                    |There are many variations of passages of Lorem Ipsum
                    br 
                    |available, but the majority have suffered alteration in
                    br 
                    |some form, by injected humour
        .col-lg-2
            // Top button
            .footer__top-button.top-button
                i.top-button__icon.icon.up-arrow
                p.top-button__text Top
        .col-lg-3.offset-lg-2
            // Social icons
            .footer__social-icons.social-icons
                ul.social-icons__list
                    li.social-icons__item
                        a.social-icons__link
                            i.icon.twitter
                    li.social-icons__item
                        a.social-icons__link
                            i.icon.facebook
                    li.social-icons__item
                        a.social-icons__link
                            i.icon.google-plus
                    li.social-icons__item
                        a.social-icons__link
                            i.icon.dribble
            // Copyright block
            .footer__copyright-block
                p.footer__copyright-text Awesome shop | multipurpose shopping html template
                p.footer__copyright-copyright Copyright:&copy; 0effortthemes.com	