a.header__icon-filter(href="#")
        i.btn--filter
            .btn--filter__span
            .btn--filter__span
            .btn--filter__span
            .btn--filter__span
nav.header__nav
    ul.header-menu
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") All 
                span.header-menu__span 100 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer', 'Collection', '2018', '0852FASH')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") Man 
                span.header-menu__span 245 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-new-arrivals('img/banner-5.png', 'bag', 'New', 'arrivals', '2015', '%5', 'additional discount')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") Women 
                span.header-menu__span 310  
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer', 'Collection', '2018', '0852FASH')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") Home  
                span.header-menu__span 350 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-new-arrivals('img/banner-5.png', 'bag', 'New', 'arrivals', '2015', '%5', 'additional discount')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") Shoes 
                span.header-menu__span 240  
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer', 'Collection', '2018', '0852FASH')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") Bags 
                span.header-menu__span 150  
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-new-arrivals('img/banner-5.png', 'bag', 'New', 'arrivals', '2015', '%5', 'additional discount')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="#") Sale 
                span.header-menu__span 500  
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'#' },
                            { 'title':'Top selling Brands', 'link':'#' },
                            { 'title':'Casual Shoes', 'link':'#' },
                            { 'title':'Sports Shoes', 'link':'#' },
                            { 'title':'Formal Shoes', 'link':'#' },
                            { 'title':'Sandals & Floaters', 'link':'#' },
                            { 'title':'Flip- Flops & Slippers', 'link':'#' },
                            { 'title':'Boots', 'link':'#' },
                            { 'title':'Sneakers', 'link':'#' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Loafers', 'link':'#' },
                            { 'title':'Cricket Shoes', 'link':'#' },
                            { 'title':'Football Shoes', 'link':'#' },
                            { 'title':'Premium Brands', 'link':'#' },
                            { 'title':'Flipkart Exclusives', 'link':'#' },
                            { 'title':'View all', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'#' },
                            { 'title':'299 Store', 'link':'#' },
                            { 'title':'T-Shirts', 'link':'#' },
                            { 'title':'Casual & Party wear', 'link':'#' },
                            { 'title':'Shirts', 'link':'#' },
                            { 'title':'Formal Shirts', 'link':'#' },
                            { 'title':'Jeans', 'link':'#' },
                            { 'title':'Trousers', 'link':'#' },
                            { 'title':'Sports Wear', 'link':'#' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'#' },
                            { 'title':'Innerwear & Loungewear', 'link':'#' },
                            { 'title':'Raincoats', 'link':'#' },
                            { 'title':'Value Packs', 'link':'#' },
                            { 'title':'Suits & Blazers', 'link':'#' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer', 'Collection', '2018', '0852FASH')    
    .header__wrap-filters-search
        // Advanced filters button
        a( class='header__advanced-filters btn--bordered-header', id='advancedFilters', href='#l', rel='nofollow' ) Advance filters
        // Search
        form.header__search-form( method="get" )
            input( class='header__search-form-input', type="search", name="search", placeholder="Search" )
            button( class='header__search-form-submit', type="submit")
                i.icon.search.header__search-form-icon    				