nav.header__nav
    ul.header-menu
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") All 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") Man 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-new-arrivals('img/banner-5.png', 'bag', 'New arrivals', '2015', '%5', 'additional discount')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") Women 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") Home 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-new-arrivals('img/banner-5.png', 'bag', 'New arrivals', '2015', '%5', 'additional discount')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") Shoes 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") Bags 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-new-arrivals('img/banner-5.png', 'bag', 'New arrivals', '2015', '%5', 'additional discount')
        // Menu item
        li.header-menu__item
            a.header-menu__link(href="all.htm") Sale 
            // Dropdown menu
            .header-menu__dropdown-wrap
                +dropdown_menu([
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Footwear', 'link':'link.htm' },
                            { 'title':'Top selling Brands', 'link':'link.htm' },
                            { 'title':'Casual Shoes', 'link':'link.htm' },
                            { 'title':'Sports Shoes', 'link':'link.htm' },
                            { 'title':'Formal Shoes', 'link':'link.htm' },
                            { 'title':'Sandals & Floaters', 'link':'link.htm' },
                            { 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
                            { 'title':'Boots', 'link':'link.htm' },
                            { 'title':'Sneakers', 'link':'link.htm' },
                            { 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Loafers', 'link':'link.htm' },
                            { 'title':'Cricket Shoes', 'link':'link.htm' },
                            { 'title':'Football Shoes', 'link':'link.htm' },
                            { 'title':'Premium Brands', 'link':'link.htm' },
                            { 'title':'Flipkart Exclusives', 'link':'link.htm' },
                            { 'title':'View all', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                    {'child': [
                            { 'title':'All Clothing', 'link':'link.htm' },
                            { 'title':'299 Store', 'link':'link.htm' },
                            { 'title':'T-Shirts', 'link':'link.htm' },
                            { 'title':'Casual & Party wear', 'link':'link.htm' },
                            { 'title':'Shirts', 'link':'link.htm' },
                            { 'title':'Formal Shirts', 'link':'link.htm' },
                            { 'title':'Jeans', 'link':'link.htm' },
                            { 'title':'Trousers', 'link':'link.htm' },
                            { 'title':'Sports Wear', 'link':'link.htm' },
                            { 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
                            { 'title':'Innerwear & Loungewear', 'link':'link.htm' },
                            { 'title':'Raincoats', 'link':'link.htm' },
                            { 'title':'Value Packs', 'link':'link.htm' },
                            { 'title':'Suits & Blazers', 'link':'link.htm' }
                        ]},
                ])
                .header-menu__banner
                    +banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')    
    // Advanced filters button
    a( class='header__advanced-filters btn--bordered-header', id='advancedFilters', href='link.html', rel='nofollow' ) Advance filters
    // Search
    form.header__search-form( method="get" )
        input( class='header__search-form-input', type="search", name="search", placeholder="Search" )
        button( class='header__search-form-submit', type="submit")
            i.icon.search.header__search-form-icon    				