block config
	include config.pug
	include mixins.pug

doctype
html( lang="en" )
	head
		title
			block title
				//- Variable used in text via interpolation
				| #{PageTitle}
		
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		//- Meta description drawn from config file
		meta( name='description', content=MetaDesc )
		
		//- This will load from Google Fonts, but only if font names are specified in the config
		if GoogleFonts
			link( href='//fonts.googleapis.com/css?family=' + GoogleFonts, rel='stylesheet', type='text/css' )
			
		block stylesheets
			link( href='css/styles.css', rel='stylesheet', type='text/css' )
	
	body
		header.header
			nav
				.header__nav
					ul.header__nav-items
						// Filter item
						li
							a(href="all.htm") All
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="man.htm") Man
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="women.htm") Women
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="home.htm") Home
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="shoes.htm") Shoes
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="bags.htm") Bags
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="sale.htm") Sale
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
				// Advanced filters button
				a( class='header__advanced-filters', id='advancedFilters', href='link.html', rel='nofollow' ) Advanced filters
				// Search
				form.header__search-form( method="get" )
					input( class='header__search-form-input', type="search", name="search", placeholder="Search" )
					button( class='header__search-form-submit', type="submit")
						i.icon.search
				// Bag button
				a( class='header_cart', id='...', href='cart.html', rel='nofollow' )
					i.icon.shopping-bag
					span.header_cart-amount 2
		// Sidebar menu		
		sidebar.sidebar
			nav
				a( class='sidebar__logo icon logo-big', id='...', href='index.html', rel='nofollow' )
				.sidebar__dots
					span
					span
					span
					span
				.sidebar__vertical-line
				+sidebar__nav([
					{ 'title':'Products', 'link':'products.htm' },
					{ 'title':'Abous us', 'link':'about.htm'},
					{ 'title':'Blog', 'link':'blog.htm' },
					{ 'title': 'Contact', 'link':'contact.html' },
					{ 'title':'My account', 'link':'my_account.htm' },
					{ 'title':'Log out', 'link':'log_out.htm' }
				])
		// Header
		header.header
			nav
				.header__nav
					ul.header__nav-items
						// Filter item
						li
							a(href="all.htm") All
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="man.htm") Man
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="women.htm") Women
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="home.htm") Home
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="shoes.htm") Shoes
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="bags.htm") Bags
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
						// Filter item
						li
							a(href="sale.htm") Sale
							// Dropdown menu
							.header__nav-dropdown-wrap
								+dropdown_menu([
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All Footwear', 'link':'link.htm',
										'child': [
											{ 'title':'Top selling Brands', 'link':'link.htm' },
											{ 'title':'Casual Shoes', 'link':'link.htm' },
											{ 'title':'Sports Shoes', 'link':'link.htm' },
											{ 'title':'Formal Shoes', 'link':'link.htm' },
											{ 'title':'Sandals & Floaters', 'link':'link.htm' },
											{ 'title':'Flip- Flops & Slippers', 'link':'link.htm' },
											{ 'title':'Boots', 'link':'link.htm' },
											{ 'title':'Sneakers', 'link':'link.htm' },
											{ 'title':'Running Shoes, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Loafers', 'link':'link.htm' },
											{ 'title':'Cricket Shoes', 'link':'link.htm' },
											{ 'title':'Football Shoes', 'link':'link.htm' },
											{ 'title':'Premium Brands', 'link':'link.htm' },
											{ 'title':'Flipkart Exclusives', 'link':'link.htm' },
											{ 'title':'View all', 'link':'link.htm' }
										] },
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									},
									{ 'title':'All All Clothing', 'link':'link.htm',
										'child': [
											{ 'title':'299 Store', 'link':'link.htm' },
											{ 'title':'T-Shirts', 'link':'link.htm' },
											{ 'title':'Casual & Party wear', 'link':'link.htm' },
											{ 'title':'Shirts', 'link':'link.htm' },
											{ 'title':'Formal Shirts', 'link':'link.htm' },
											{ 'title':'Jeans', 'link':'link.htm' },
											{ 'title':'Trousers', 'link':'link.htm' },
											{ 'title':'Sports Wear', 'link':'link.htm' },
											{ 'title':'Summer Shorts, 3/4ths & Cargos', 'link':'link.htm' },
											{ 'title':'Innerwear & Loungewear', 'link':'link.htm' },
											{ 'title':'Raincoats', 'link':'link.htm' },
											{ 'title':'Value Packs', 'link':'link.htm' },
											{ 'title':'Suits & Blazers', 'link':'link.htm' }
										]
									}
								])
								+banner-summer-collection('img/banner-4.png', 'summer collection', 'Summer Collection', '2018', '0852FASH')
				// Advanced filters button
				a( class='header__advanced-filters', id='advancedFilters', href='link.html', rel='nofollow' ) Advanced filters
				// Search
				form.header__search-form( method="get" )
					input( class='header__search-form-input', type="search", name="search", placeholder="Search" )
					button( class='header__search-form-submit', type="submit")
						i.icon.search
				// Bag button
				a( class='header_cart', id='...', href='cart.html', rel='nofollow' )
					i.icon.shopping-bag
					span.header_cart-amount 2

		section.content-wrapper
			//- Content here
			block content

		// Footer
		footer.footer
			a( class='footer__logo icon logo-small', id='...', href='index.html', rel='nofollow' )
			.footer__info-block
				h5 Awesome shop
				p 
					|There are many variations of passages of Lorem Ipsum
					br 
					|available, but the majority have suffered alteration in
					br 
					|some form, by injected humour
			.footer__top-button
				i.icon.up-arrow
				p Top
			.footer__social-icons
				i.icon.twitter
				i.icon.facebook
				i.icon.google-plus
				i.icon.dribble
			.footer__copyright
				p Awesome shop | multipurpose shopping html template
				p Copyright:&copy; 0effortthemes.com	
			
			
			 




		//- This will load jQuery, but only if you switch it on in config
		if jQuery
			script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		